<p class="intro">
  <strong><!-- text --></strong>
</p>

<div class="title">
	<h2>
	   Últimos tweets deletados
	</h2>

  <%= render :template => "shared/filterform" %>

</div>
<div class="caveat"><p>Essa pode ser uma lista incompleta. Se você acha que estamos esquecendo alguém, por favor <a href="mailto:lab@labhacker.org.br">envie um e-mail</a> informando nome, estado, partido político, cargo que ocupam ou ao qual estão concorrendo e, é claro, o link de seu Twitter. Obrigado!</p>
</div>

<% content_for :feeds do %>
  <% if @politician %>
    <%= auto_discovery_link_tag :rss, politician_url(@politician.user_name, :format => :rss) %>
  <% elsif @query %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss, :q => @query) %>
  <% else %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
  <% end %>
<% end %>

<% if @tweets.empty? %>
  Nenhum resultado para as opções de filtro selecionadas.
<% else %>
  <%= render :partial => "tweets/tweet", :collection => @tweets, :object => :tweet %>

  <%= render :template => "shared/pager" %>

  <%= render :template => "shared/screenshotbox" %>
<% end %>
