<!doctype html>
<html class="bb_wrapper">
<head>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <% if content_for?(:title) %>
    <title><%= yield(:title) %> - Twoops</title>
  <% else %>
    <title>Twoops - <%= t :slogan, :scope => [:politwoops] %><% if not @page.nil? and @page > 1 %> (Page <%= @page %>)<% end %></title>
  <% end %>
  <%= JavascriptExports %>

    <meta name="google-site-verification" content="CQWBNRNvRMb4Gd5s2HE03-2g5Dkk3VvvGwZbeNmd5H8" />
    <meta property="og:url" content="<%= url_for(:only_path => false) %>">
    <meta property="og:title" content="Twoops">
    <meta property="og:description" content="Twoops é um arquivo de tweets deletados por políticos brasileiros que oferece uma visão daquilo que eles esperavam que você não visse.">
    <meta property="og:image" content="<%= root_url %>images/og_politwoops.jpg">
    <meta property="og:image:url" content="<%= root_url %>images/og_politwoops.jpg">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta name="description" content="Twoops é um arquivo de tweets deletados por políticos brasileiros que oferece uma visão daquilo que eles esperavam que você não visse.">

	<%= stylesheet_link_tag "colorbox" %>
	<%= stylesheet_link_tag "style" %>
  <script type="text/javascript" src="//use.typekit.net/utl6xyx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<%= content_for :head %>

	<%= javascript_include_tag "jquery-1.7.1.min" %>
	<%= javascript_include_tag "jquery.placehold-0.3.min" %>
	<%= javascript_include_tag "jquery.colorbox-min" %>

	<%= csrf_meta_tag %>
	<link rel="icon" href="/images/favicon.png" type="image/png">

	<%= content_for :feeds %>
</head>
<body<%if content_for?(:body_class) %> <%= yield(:body_class) %> <% end %>>
  <script>
    $(document).ready(function() {
        $("a.screenshot").each(function(idx, a){
            $(a).colorbox({
                rel: 'screenshot' + idx,
                opacity: 0.7,
                maxWidth: '90%',
                close: 'Close'
            });
        });
        $(document).bind('cbox_complete', function(event){
            $("img.cboxPhoto").click(function(event){
                window.open($(this).attr('src'));
            });
        });
    });
  </script>

	<div class="container">
		<header>
			<nav>
				<ul>
					<li>
						<a href="/users">Políticos</a>
					</li>
					<li>
						<a href="http://sunlightfoundation.com/blog/tag/politwoops/">Mais informação</a>
					</li>
					<li>
						<a href="mailto:lab@labhacker.org.br">Contato</a>
					</li>
				</ul>
                <div id="socialMedia" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; visibility: visible;">
                    <div class="share-buttons" data-socialite="auto" data-services="twitter-tweet, facebook-like" data-options="linkback=<%= escape_javascript request.url %>" data-facebook-like-options="width=100&amp;colorscheme=light&amp;show-faces=false&amp;layout=button_count" data-twitter-tweet-options="text=Track the deleted tweets of U.S. politicians using Politwoops (from @SunFoundation):&amp;url=<%= escape_javascript request.url %>">
                    </div>

				</div>
			</nav>
			<h1><a class="textReplace clear" href="/">Twoops</a><small class="subtext"> tweets deletados de políticos</small></h1>
			<form action="/" method="get" id="search">
				<input type="search" placeholder="Procure um político" name="q" value="<%= h params[:q] %>"/>
				<button class="textReplace" id="searchBtn">busca</button>
			</form>
			<div class="clear"></div>

		</header>
		<div id="ltColumn">
			<img class="twoopsters" src="/images/twoopsters.png">
			<div class="module">
				<p id="intro">
        Conheça o portal <strong>Twoops</strong> de tweets apagados por políticos. Um arquivo de declarações públicas apagadas por políticos brasileiros (deputados estaduais, vereadores e senadores). Explore os tweets que eles preferiam que você não visse.
				</p>
				<p id="terms">
				Se você não é candidato nem oficialmente eleito e acredita que sua conta esteja sendo rastreada por engano, por favor, entre em <a href="mailto:lab@labhacker.org.br">contato</a> conosco.
				</p>
			</div>
			<div class="module">
				<h4>Versão Holandesa original:</h4>
				<a href="http://politwoops.nl">Politwoops.nl</a>
        <h4>Versão Americana original:</h4>
        <a href="http://politwoops.sunlightfoundation.com">Politwoops U.S.</a>
			</div>
		</div>

		<div id="rtColumn">
			<%= yield %>
		</div>

		<div class="clear"></div>
	</div>

	<footer>
            <div class="container">
                <div class="signup">
                    <h4>Curtiu esse projeto e quer descobrir outros semelhantes?</h4>
                    <span class="tip">Participe da comunidade <a href="https://groups.google.com/group/thackday/">Transparência Hacker</a>.</span>
                </div>
                <div class="span6 terms">
                    <p>Esse projeto é mantido pelo <a href="http://labhacker.org.br">LabHacker</a> e esta licenciado em <a href="http://creativecommons.org/licenses/by/3.0/br/">Creative Commons Atribuição 3.0 Brasil</a>.</p>
                </div>
            </div>
        </footer>

        <%= javascript_include_tag "jquery.tmpl.min.js" %>
        <%= javascript_include_tag "congressapi" %>
        <%= javascript_include_tag "opencivicdataapi" %>
        <%= javascript_include_tag "politwoops" %>

        <%= render :partial => "layouts/analytics" %>
  </body>
</html>
